* {
    box-sizing: border-box;
}
body {
    margin: 0;
    overflow: hidden;
}
.header-container {
    height: 5rem;
    /* background-color: lightblue; */
    display: flex;
}
.header-name {
    margin-left: 6rem;
    /* background-color: pink; */
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.2rem;
    font-family: 'PT Sans Narrow', sans-serif;
    color: #4b4b4b;
    font-weight: 600;
}
.main-page-body-container {
    /* background-color: lightgreen; */
    height: calc( 100vh - 3rem );
    display: flex;
}
.main-page-about-container {
    /* background-color: lightcoral; */
    width: 40%;
    position: relative;
}
.main-page-img-container {
    /* background-color: tomato; */
    width: 60%;
    position: relative;
    /* display: flex;
    justify-content: center; */
}
.main-page-img {
    width: 100%;
    height: 40rem;
    position: absolute;
    right: -5rem;
}
.personal-info-container {
    /* background-color: lightblue; */
    position: absolute;
    top: 23vh;
    left: 6vw;
    /* margin-left: 6rem; */
    /* margin-top: calc(); */
}
.name-container {
    font-family: 'Cantora One', sans-serif;
    font-size: 2rem;
    letter-spacing: 2px;
    word-spacing: 3px;
    color: #19162B;
}
.name {
    font-size: 4rem;
    letter-spacing: 0.5px;
    color: #c44569cc;
    margin: 0;
}
.about-container {
    font-family: 'PT Sans Narrow', sans-serif;
    letter-spacing: 0.8px;
    word-spacing: 5px;
    /* background-color: lightgreen; */
    font-size: large;
    margin-top: 1rem;
    color: #747d8c;
}
.hunt-btn-container {
    margin-top: 3rem;
}
.hunt-btn {
    width: 8rem;
    background-color: #ff6b81;
    color: white;
    border: none;
    width: 10rem;
    height: 2.8rem;
    border-radius: 3px;
    font-family: 'Markazi Text', serif;
    font-size: 1rem;
    word-spacing: 4px;
    letter-spacing: 1.5px;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 20px 25px -5px, rgba(0, 0, 0, 0.04) 0px 10px 10px -5px;
    text-shadow: 0 0 1.5px;
}
.hunt-btn:hover {
    background-color: #ED4C67;
    cursor: pointer;
}
.color-pops-1 {
    position: absolute;
    top: 11rem;
    left: 2rem;
    width: 8rem;
    height: 5rem;
    background-color: #c44569;
    filter: blur(7.5rem);
    border-radius: 50%;
}
.color-pops-2 {
    position: absolute;
    top: 70vh;
    left: 40vw;
    width: 8rem;
    height: 8rem;
    background-color: #c44569;
    filter: blur(8.5rem);
    border-radius: 50%;
}