* {
    box-sizing: border-box;
}
body {
    margin: 0;
}
.video-container {
    height: 100vh;
    width: 100vw;
    background-color: black;
}
video {
    height: 100%;
    width: 100%;
}

/* record-capture button css */
.record {
    background-color: black;
    border: 0.5rem solid white;
    position: fixed;
    right: 5rem;
    top: 35vh;
    height: 5rem;
    width: 5rem;
    border-radius: 50%;
    z-index: 2;
    display: flex;
    justify-content: center;
    align-items: center;
}
.capture {
    background-color: black;
    border: 0.5rem solid white;
    position: fixed;
    height: 5rem;
    width: 5rem;
    right: 5rem;
    top: 50vh;
    border-radius: 50%;
    z-index: 2;
    display: flex;
    justify-content: center;
    align-items: center;
}

.scale-animation {
    animation: button-scale 0.8s ease-out infinite;
}

.internal-record-btn {
    height: 2.8rem;
    width: 2.8rem;
    background-color: red;
    border-radius: 50%;
}

.internal-capture-btn {
    height: 2.8rem;
    width: 2.8rem;
    background-color: white;
    border-radius: 50%;
}

@keyframes button-scale {
    0% {
        transform: scale(0.9);
    }
    100% {
        transform: scale(1.2);
    }
}

/* zoom button css */
.zoom-container {
    background-color: rgb(41, 39, 39);
    position: fixed;
    height: 7rem;
    width: 4rem;
    top: 4rem;
    right: 6rem;
    border-radius: 3px;
    z-index: 2;
}

.zoom-in {
    color: white;
    height: 50%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.zoom-out {
    color: white;
    height: 50%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

i {
    font-size: xx-large;
}

/* filter layer css */
.filter-layer {
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
}

/* filter container css */
.filter-container {
    height: 22rem;
    width: 6rem;
    position: absolute;
    top: calc( (100vh - 22rem) / 2);
    left: 3rem;
    z-index: 2;
}

.filter-box {
    height: calc( ( 100% / 6 ) );
    background-image: url("https://picsum.photos/seed/picsum/200/300");
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-blend-mode: color-burn;
}

.timer-box {
    display: none;
    background-color: blueviolet;
    width: 9rem;
    height: 3rem;
    position: fixed;
    bottom: 20vh;
    left: 2vw;
    text-align: center;
    justify-content: center;
    align-items: center;
    border-radius: 3px;
    z-index: 2;
}

.timer {
    color: white;
    font-size: 2rem;
    font-weight: bold;
}
