* {
    box-sizing: border-box;
}
body {
    margin: 0;
}
/* cards collective css */
.cards-collection-cantainer {
    height: 30rem;
    width: 50rem;
    position: relative;
    top: calc((100vh - 30rem)/2);
    left: calc((100vw - 50rem)/2);
    display: flex;
}

    /* each-card css */
    .card-container {
        height: 100%;
        width: calc(100%/3);
        border-radius: 10px;
    }
    .sedan-pos {
        background-color: rgb(174, 99, 243);
    }
    .suv-pos {
        position: relative;
        right: 1rem;
        z-index: 5;
        background-color: rgb(248, 191, 47);
    }
    .lux-pos {
        position: relative;
        right: 2rem;
        z-index: 10;
        background-color: rgb(255, 140, 64);
    }
    .car-desc-container {
        margin: 3rem 0 0 2.5rem;
        height: calc(100% - 3rem);
    }
    .car-name {
        font-family: 'Anton', sans-serif;
        font-size: 2rem;
    }
    .fas {
        font-size: 2.5rem;
    }
    .car-desc {
        height: 40%;
        width: 12rem;
        font-size: larger;
        line-height: 150%;
        font-family: 'Yanone Kaffeesatz', sans-serif;
    }
    .more-info-btn {
        width: 8rem;
        height: 3rem;
        border-radius: 1.5rem;
        border: none;
        font-family: 'Source Sans Pro', sans-serif;
        cursor: pointer;
    }
    .sedan-btn {
        color: rgb(174, 99, 243);
    }
    .suv-btn {
        color: rgb(248, 191, 47);
    }
    .lux-btn {
        color: rgb(255, 140, 64);
    }
    .sedan-btn:hover {
        background-color: rgb(174, 99, 243);

        border: 1px solid white;
        color: white;
    }
    .suv-btn:hover {
        background-color: rgb(248, 191, 47);
        border: 1px solid white;
        color: white;
    }
    .lux-btn:hover {
        background-color: rgb(255, 140, 64);
        border: 1px solid white;
        color: white;
    }